<a href="https://colab.research.google.com/github/KitoVallim/2L11/blob/master/decision_tree_cross_validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Validação Cruzada e Análise de Desempenho**

*Prof. Dr. Leandro Augusto da Silva*

Neste material encontram-se um exemplo completo de treinamento com árvore de decisão e validação cruzada.

In [ ]:
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import cross_val_score
from sklearn import tree
from sklearn.model_selection import cross_val_score
from sklearn.inspection import permutation_importance
import numpy as np

In [ ]:
iris = datasets.load_iris()
X = pd.DataFrame(iris.data[:, :4])
y = pd.DataFrame(iris.target)
iris_df = pd.concat([X,y], axis=1)
iris_df
iris_df.columns = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']

iris_df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [ ]:
iris_df.shape

(150, 5)

In [ ]:
X = iris_df.iloc[:,0:4]
X

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
y = iris_df.iloc[:,4]
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int64

In [ ]:
test = iris_df.iloc[0:1,0:4]
test = pd.DataFrame(test)
print(test)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          3.5           1.4          0.2

In [ ]:
model = tree.DecisionTreeClassifier(criterion = 'entropy')

# Train the model using the training sets
model.fit(X,y)

#Predict Output
predicted= model.predict(test) # 0:setosa, 1:versicolor, 2:virginica
print(predicted)

[0]

In [ ]:
iris_df.iloc[0:1,0:5]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0           5.1          3.5           1.4          0.2        0

In [ ]:
#create a new Decision Tree model
model = tree.DecisionTreeClassifier(criterion = 'entropy')
#train model with cv of 5 
cv_scores = cross_val_score(model, X, y, cv=5)
#print each cv score (accuracy) and average them
print(cv_scores)
print('cv_scores mean:{}'.format(np.mean(cv_scores)))

[0.96666667 0.96666667 0.9        0.96666667 1.        ]
cv_scores mean:0.9600000000000002

**Referências**

https://scikit-learn.org/stable/auto_examples/exercises/plot_cv_diabetes.html#sphx-glr-auto-examples-exercises-plot-cv-diabetes-py

https://towardsdatascience.com/building-a-k-nearest-neighbors-k-nn-model-with-scikit-learn-51209555453a

https://towardsdatascience.com/building-a-k-nearest-neighbors-k-nn-model-with-scikit-learn-51209555453a

https://www.datacamp.com/tutorial/k-nearest-neighbor-classification-scikit-learn